sudo: required
before_install:
    - sudo add-apt-repository -y ppa:fish-shell/release-2
    - sudo apt-get update
    - sudo apt-get -y install fish
script:
    - make && fish -c "fisher_install fishery/fishtape; fishtape test/*.fish"
