<footer>
     <div class="container">
       <div class="row hidden-xs">
         <div class="col-md-8 col-sm-8 col-xs-12">
           <ul>
             <li><a href="https://github.com/fisherman/fisherman">GitHub</a></li>
             <li><a href="https://github.com/fisherman/fisherman/wiki">Documentation</a></li>
             <li><a href="https://github.com/fisherman/fisherman/blob/master/CONTRIBUTING.md">Contributing</a></li>
             <li><a href="https://github.com/fisherman/fisherman/blob/master/CHANGELOG.md">Changelog</a></li>
             <li><a href="https://github.com/fisherman/fisherman/wiki/FAQ">FAQ</a></li>
           </ul>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
           <a href="https://github.com/fisherman"><i class="fa fa-anchor"></i></a>
         </div>
       </div>
       <div class="row hidden-md hidden-lg hidden-sm">
         <div class="col-md-12">
           <ul>
             <li><a herf="https://github.com/fisherman/fisherman/wiki">Documentation</a></li>
             <li><a href="https://github.com/fisherman/fisherman/blob/master/CONTRIBUTING.md">Contributing</a></li>
             <li><a href="https://github.com/fisherman/fisherman/wiki/FAQ">FAQ</a></li>
             <li><a href="https://github.com/fisherman"><i class="fa fa-anchor"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
   </footer>

 </div>
 <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
 <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
 <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
