<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headernav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="headernav">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="https://github.com/search?l=Shell&q=fish&ref=simplesearch&type=Repositories&utf8=%E2%9C%93"><i class="fa fa-binoculars"></i> Discover</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#quickstart">Quickstart</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/fisherman/fisherman">GitHub</a></li>
          <li><a href="https://github.com/fisherman/fisherman/blob/master/man/man1/fisher.md">Documentation</a></li>
          <li><a href="https://github.com/fisherman/fisherman/wiki/FAQ">FAQ</a></li>
          <li class="active"><a href="https://fisherman-wharf.herokuapp.com"><strong>Wharf</strong> <i class="fa fa-slack"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
<header>
